---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Newsletter from '../components/Newsletter/Newsletter.jsx'

let title = "Tushar's Blog";
let description = 'My thoughts and learnings.';

const allPosts = await Astro.glob('./post/*.md');
const latestPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate) - new Date(a.frontmatter.publishDate)).slice(0, 6);
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <link rel="stylesheet" href="/style/global.css" />

    <style>
      body {
        width: 100%;
        display: grid;
        grid-template-rows: 3.5rem 1fr;
        --gutter: 0.5rem;
        --doc-padding: 2rem;
      }

      header {
        width: 100%;
        height: 100%;
        background-color: var(--theme-bg-offset);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content {
        margin: 2rem auto;
        max-width: 750px;
      }

      .content :global(main > * + *) {
        margin-top: 1rem;
      }

      .intro {
        margin-bottom: 1.5rem;
        border-bottom: 4px solid var(--theme-divider);
      }

      .latest {
        font-size: 2.5rem;
        font-weight: 700;
      }

      .cat {
        width: 250px;
        margin: 1rem 0;
        border-radius: 0.5rem;
      }

      .pagination {
        display: flex;
        justify-content: flex-end;
      }
      .next {
        text-transform: uppercase;
        font-size: 0.8em;
      }
    </style>
  </head>

  <body>
    <BlogHeader />
    <main class="content">
      <section class="intro">
        <h1 class="latest">{title}</h1>
        <p>{description}</p>
        <video class="cat" src="/cat.mp4" playsinline alt="Cat typing on keyboard" autoplay muted loop />
        <Newsletter client:only="preact" />
      </section>
      <section>
        {latestPosts.map(p => <BlogPostPreview post={p} />)}
      </section>
      <div class="pagination">
        <a class="next" href='/posts/2' aria-label="Next Page">Next</a>
      </div>
    </main>
    <Footer />
  </body>
  <noscript>
    <img src="https://analytics.tushar.lol/ingress/f6c6e99f-df6a-43f3-9c16-f434cee0278e/pixel.gif">
  </noscript>
  <script defer src="https://analytics.tushar.lol/ingress/f6c6e99f-df6a-43f3-9c16-f434cee0278e/script.js"></script>
</html>
