---
export interface Props {
  post: any;
}

const { post } = Astro.props;
---
<article class="post-preview">
  <header>
    <h3 class="publish-date">{post.frontmatter.publishDate}</h3>
    <a href={post.url}><h1 class="title">{post.frontmatter.title}</h1></a>
  </header>
  <main>
    <p>{post.frontmatter.description}</p>
    <img src={post.frontmatter.heroImage}>
  </main>
</article>

<style>
.post-preview {
  margin-bottom: 3rem;
  border-bottom: 4px solid var(--theme-divider);
}

header {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  justify-content: center;
}

.title,
.author,
.publish-date {
  margin: 0;
}

.publish-date,
.author {
  font-size: 1.25rem;
}

.title {
  font-size: 1.75rem;
  font-weight: 700;
}

a .title {
  color: var(--link-color);
}
a:visited .title {
  color: var(--primary-color);
}
a:active .title {
  color: var(--active-color);
}
</style>
