---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import Footer from '../components/Footer.astro';
import BlogPost from '../components/BlogPost.astro';
import Newsletter from '../components/Newsletter/Newsletter.jsx'

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, alt} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} heroImage={heroImage} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
      <slot />
    </BlogPost>
    <hr />
    <Newsletter client:only />
    <script
      src="https://utteranc.es/client.js"
      repo="tusharsadhwani/blog-comments"
      issue-term="title"
      theme="dark-blue"
      crossorigin="anonymous"
      async>
    </script>
  </body>
  <Footer />
  <noscript>
    <img src="https://analytics.sadh.life/ingress/f6c6e99f-df6a-43f3-9c16-f434cee0278e/pixel.gif">
  </noscript>
  <script defer src="https://analytics.sadh.life/ingress/f6c6e99f-df6a-43f3-9c16-f434cee0278e/script.js"></script>
</html>
