---
import { Markdown } from 'astro/components';
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';

const {content} = Astro.props;
const {title, description, publishDate, author, heroImage, alt} = content;
---
<html lang={ content.lang || 'en' }>
  <head>
    <BaseHead title={title} description={description} heroImage={heroImage} />
  </head>

  <body>
    <BlogHeader />
    <BlogPost title={title} author={author} heroImage={heroImage} publishDate={publishDate} alt={alt}>
      <slot />
    </BlogPost>
    <script
      src="https://utteranc.es/client.js"
      repo="tusharsadhwani/blog-comments"
      issue-term="title"
      theme="github-dark"
      crossorigin="anonymous"
      async>
    </script>
  </body>
</html>

